# Python bytecode
__pycache__/
*.py[cod]
*$py.class



# Environment
.venv/
.env
.python-version

# Notebooks
.ipynb_checkpoints/

# Training Outputs
sac_full_run/
sac_speed_run/
sac_results/
test_run/
final_pro_drive/
CHAMPION_*.pt

.vscode
pyrightconfig.json
CHANGELOG.md