# Python bytecode
__pycache__/
*.py[cod]
*$py.class



# Environment
.venv/
.env
.python-version

# Notebooks
.ipynb_checkpoints/

# Training Outputs
test_run/
final_pro_drive/
CHAMPION_*.pt
/
sac_car_*.pt

.vscode
pyrightconfig.json
CHANGELOG.md



ppo_results_v1/ppo_carracing_*.pt
ppo_results_v2/ppo_carracing_*.pt
